*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}
.ALL{
    width: 100%;
    height: auto;
}
header{
    text-align: center;
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.navbar ul li {
    padding: 0px 20px;
}
nav ul li a{
    color: black;
    font-size: 30px;
}
nav ul li a:hover{
    color: rgb(45,152,66);
}
nav ul li a img {
    width: 120px;
    height: auto;
}

article{
    width: 100%;
    height: auto;
    display: flex;
}
footer{
    width: 100%;
    height: auto;
    background-image: url('/IMAGE/img-footer.png');
}
h4 > strong {
    color: rgb(45,152,66);
}
.menu, .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.drop-menu{
    border: 1px solid rgb(45,152,66);
    ;
}
.menu-item {
    display: inline-block;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: black;
    display: block;
}

.drop-menu {
    display: none;

    position: absolute;
    background-color: #fff;
    min-width: 242px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.drop-menu-item {
    width: 100%;
    text-align: start;

}
.drop-menu-item a {
    padding: 5px 0px;
    font-size: 17px;
    border-bottom: 1px solid  rgb(45,152,66);
    ;

}
.drop-menu .drop-menu-item:last-child a{
    border-bottom: none;
}
.drop-menu-item:hover {
    background-color: #b6b6b61b;
}

.drop-menu-item a {
    color: #555;
}

.menu-item:hover .drop-menu {
    display: block;
}

/* ===============================HEADER============================ */

@keyframes flicker{
    0%{border: 5px solid rgb(234, 0, 255);}
    25%{border: 5px solid rgb(13, 0, 254);}
    50%{border: 5px solid rgb(255, 0, 0);}
    100%{border: 5px solid rgb(251, 255, 0);}
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li a{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
nav ul li a:hover{
    color: rgb(45,152,66);
}
nav ul li a img {
    width: 120px;
    height: auto;
}

/* ---------search-------- */
.search{
    display: flex;
    border: 1px solid gray;
    border-radius: 4px;
    width: 250px;
    height: 30px;
    background-color:  #fff;
}
.search input{
    flex-basis: 83%;
    height:auto;
    border-radius: 3px;
    border: none;
    padding: 0px 10px;
}
.search input:focus{
    outline: none;
}
.search button{
    flex-basis: 17%;
    border-end-end-radius: 3px;
    border-top-right-radius: 3px;
    border: none;
    background-color:rgb(45,152,66);
    background-image: linear-gradient(315deg, #5470fa 0%, #C850C0 46%, #ff0015 100%);
    color: white;
    cursor: pointer;
}
/* ---------search-------- */
/* ===============================HEADER============================ */
/* =============================SECTION=============================== */
section{
    display: flex;
    flex-direction: column;
    background-color: #294402;
    color: white;
    padding: 20px;
    gap: 10px;
}
.banner_slide{
    display: flex;
    gap: 10px;
}
.banner{
    flex-basis: 50%;
    height: 360px;
}
.banner img{
    width: 100%;
    height: 100%;
}
.slide{
    flex-basis: 50%;
    padding: 20px 30px 0px 30px;
}
.slide h1{
    font-size: 30px;
    padding: 20px 0px;
}
.slide span{
    display: block;
    padding: 10px 0px;
    font-size: 16px;
}
.slide button{
    margin: 36px 10px 0px 00px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: rgb(45,152,66);
    background-image: linear-gradient(315deg, #5470fa 0%, #C850C0 46%, #ff0015 100%);    
}
.slide button:hover{
    opacity: 0.9;
}
.slide button:active{
    opacity: 0.7;
}
.dots{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px 0px 0px 0px;
}
.dots span{
    width: 10px;
    height: 10px;
    background-color: gray;
    display: block;
    border-radius: 100%;
    cursor: pointer;
}
.dots span:hover{
    background-color: white;
}
/* =============================SECTION=============================== */
/* ============================== BUY NOW ========================= */

.buynow{
    
    padding: 10px 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.check .continue a{
    color: rgb(45,152,66);
    /* background-color: red; */
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    gap: 5px;
}
.check div{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.check div button:hover{
    opacity: 0.9;
}
.check div button:active{
    opacity: 0.8;
}
button.bank{
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    background-color: #fcd989;
    cursor: pointer;
    background-image: linear-gradient(180deg, #fcd989 0%, #fdaa0d 46%);    
}
button.bank strong{
    font-family: tahoma;
    font-size: 16px;
    font-style: italic
}
span.pay{
    color: #194158;
}
span.pal{
    color: rgb(45,152,66);
}
/* --- */
button.check_out{
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 8px 15px;
    border: none;
    color: white;
    background-color: #74bb04;
    font-size: 20px;
    border-top-right-radius: 25px;
    border-end-end-radius: 25px;
    cursor: pointer;
}
/* -------------buy----------- */
.buy{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
    /* background-color: #3785bc; */
}
.select_adjust{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    background-color: #f6f6f6;
    color: #2e2e2e;
    padding: 15px;
    border-bottom: 1px solid gray;
}
.select_adjust > div{
    display: flex;
    gap: 30px;
}
/* ----- */
.your_item{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid gray ;
}
.product{
    flex:1;
    display: flex;
    flex-basis: 30%;
    gap: 10px;
    align-items: center;
}
.product .img{
    flex: 1;
    flex-basis: 30%;
}
.product .img img{
    width: 200px;
}
.infor{
    flex: 1;
    flex-basis: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.infor .name_product{
    font-size: 20px;
    font-weight: bold;
    color:rgb(45,152,66);
}
.infor > div span{
    display: block;
}
.infor .edit{
    display: flex;
    gap: 10px;
    padding: 40px 0px 0px 0px;
    color: black;
    font-weight: bold;
}
.edit a{
    color:rgb(45,152,66);  
    text-decoration: none;
}
/* -------adjust-------- */
.adjust{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding: 20px 15px 0px 0px;
    height: 40px;
    gap: 40px;
}
.adjust input{
    width: 50px;
    height: 20px;
    border: 1px solid gray;
    padding-left: 10px;
}
/* -------------buy----------- */
/* --------- sales and total ---------- */
.sales_total{
    display: flex;
    justify-content: space-between;
}
.sales{
    flex: 1;
    flex-basis: 40%;
    padding: 0px 10px;
}
.see_details{
    padding: 5px 20px;
    border: 1px solid gray;
    text-align: center;
}
.see_details span{
    font-weight: bold;
    color: #f49537;
    font-size: 17px;
    display: block;
}
.see_details a{
    color:rgb(45,152,66);
    text-decoration: none;
    font-weight: bold;
}
.code_sales{
    padding: 20px 0px;
}
.code_sales label{
    display: block;
    padding: 5px 0px;
}
.code_sales input{
    width: 55%;
    height: 30px;
    padding: 0px 10px;
    border: 1px solid gray;
}
.code_sales input:focus{
    outline: none;
}
.code_sales button{
    width: 20%;
    height: 32px;
    border: none;
    color: white;
    background-color:rgb(45,152,66);
    cursor: pointer;
}
.code_sales button:hover{
    opacity: 0.9;
}
.code_sales button:active{
    opacity: 0.8;
}
/* ----------------- */
.total{
    flex: 1;
    flex-basis: 60%;
    background-color: #f1f1f1;
}
.quanlity{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px 20px;
    border-bottom: 1px solid gray;
}
.shipping_taxes{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.shipping{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.shipping div{
    display: flex;
    gap: 10px;
}
.shipping div span{
    color:rgb(45,152,66);
    cursor: pointer;
    font-weight: bold;
}
.shipping select{
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    cursor: pointer;
}
.shipping select:focus{
    outline: none;
}
.taxes{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.estimated_total{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 20px;
}
/* ----------------- */
/* --------- sales and total ---------- */
/* ============================== BUY NOW ========================= */
footer{
    padding: 20px 20px 10px 20px;
    background-color: #1c1c20;
    display: flex;
    flex-direction: column;
}
.all_col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    border-bottom: 2px solid white;
    padding: 0px 0px 10px 0px;
}
.all_col > ul{
    grid-column: 1fr 1fr 1fr 1fr;
    color: white;
}
.all_col ul{
    list-style: none;
}
.all_col ul a{
    color: rgb(136, 136, 136);
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}
.all_col ul a:hover{
    color: white;
}
.name_col{
    font-weight: bold;
}
.copyright{
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: white;
}
@media screen and (max-width:1024px) {
    nav ul li a {
        font-size: 20px;
        font-weight: 600;
    }
    .buynow{
        padding: 20px 10px;
    }
    .banner_slide{
        flex-direction: column;
    }
    section .banner{
        flex-basis: 100%;
    }
    section .slide{
        flex-basis: 100%;
        text-align: center;
    }
    .hot{
        flex-direction: column;
    }
    .hot .sales{
        flex-basis: 100%;
    }
    .hot .products{
        flex-basis: 100%;
        padding: 20px 0px 20px 0px;
    }
    footer .all_col{
        grid-template-columns: repeat(2,1fr);
    }
    .all_col ul{
        grid-column: 1fr 1fr;
    }
}
@media screen and (max-width:386px){
    footer .all_col{
        grid-template-columns: repeat(1,1fr);
    }
    .all_col ul{
        grid-column: 1fr;
        text-align: center;
    }
}
@media screen and (max-width:800px){
    .select_adjust > div{
        display: none;
    }
    .your_item{
        flex-direction: column;
    }
    .adjust{
        justify-content: center;
        padding: 0;
        margin: 0;
    }
    .sales_total{
        flex-direction: column;
    }
}
@media screen and (max-width:684px){
    .check{
        flex-direction: column;
    }
    .continue{
        padding-bottom: 15px;
    }
}
@media screen and (max-width:484px){
    .logo_nav_search{
        flex-direction: column;
    }
    .logo_nav_search .logo{
        margin-bottom: 20px;
    }
    .product{
        flex-direction: column;
    }
    .check > div{
        flex-direction: column;
    }
    .shipping{
        flex-direction: column;
    }
    .shipping > div{
        padding-bottom: 20px;
    }
}