*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}
.ALL{
    width: 100%;
    height: auto;
}
header{
    padding: 10px 50px; 
    

}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.navbar ul li {
    padding: 0px 20px;
}

nav ul li a:hover{
    color: rgb(45,152,66);
}
nav ul li a img {
    width: 120px;
    height: auto;
}

article{
    padding: 20px 150px;
    height: auto;
}
footer{
    width: 100%;
    height: auto;
    background-image: url('/IMAGE/img-footer.png');
}
h4 > strong {
    color: rgb(45,152,66);
}
.menu, .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.drop-menu{
    border: 1px solid rgb(45,152,66);
    ;
}
.menu-item {
    display: inline-block;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    display: block;
}

.drop-menu {
    display: none;

    position: absolute;
    background-color: #fff;
    min-width: 242px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.drop-menu-item {
    width: 100%;
    text-align: start;

}
.drop-menu-item a {
    padding: 5px 0px;
    font-size: 17px;
    border-bottom: 1px solid  rgb(45,152,66);
    ;

}
.drop-menu .drop-menu-item:last-child a{
    border-bottom: none;
}
.drop-menu-item:hover {
    background-color: #b6b6b61b;
}

.drop-menu-item a {
    color: #555;
}

.menu-item:hover .drop-menu {
    display: block;
}



nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
nav ul li a{
    color: black;
    font-size: 30px;
  
}

/* //////////////////////////////////// */


h2{
    text-align: center;
}
form{
    width: 300px;
    height: auto;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    border: 2px solid gray;
}
form input{
    display: block;
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 7px 0px;
}
form input:focus{
    outline: none;
}

button{
    display: block;
    height: 40px;
    background-color: blue;
    color: white;
    border: none;
    font-weight: bold;
    margin: 5px 0px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
.check_pass{
    padding-block: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.check_pass input{
    width: 15px;
    height: 15px;
}
.check_pass label{
    font-size: 13px;
}
.next{
    display: flex;
    justify-content: space-between;
}
.next a{
    font-size: 13px;
    color: blue;
}
.app a{
    font-size: 30px;
    color: black;
}
.app{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 25px 0px 0px 0px;
}
.line_or{
    display: grid;
    text-align: center;
    align-items: center;
    color: gray;
    padding: 20px 0px 0px 0px;
    grid-template-columns: auto 35% auto;
}
.line{
    height: 1px;
    background-color: gray;
}



footer{
    padding: 20px 20px 10px 20px;
    background-color: #1c1c20;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.all_col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    border-bottom: 2px solid white;
    padding: 0px 0px 10px 0px;
}
.all_col > ul{
    grid-column: 1fr 1fr 1fr 1fr;
    color: white;
}
.all_col ul{
    list-style: none;
}
.all_col ul a{
    color: rgb(136, 136, 136);
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}
.all_col ul a:hover{
    color: white;
}
.name_col{
    font-weight: bold;
}
.copyright{
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: white;
}
.khung-interior img:hover{
    filter: blur(2px);

}

