*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
    text-decoration: none;
    list-style: none;
    line-height: 1;
}
.ALL{
    width: 100%;
    height: auto;
}
header{
    text-align: center;
    padding: 10px 50px;
}
nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}
.navbar ul li {
    padding: 0px 20px;
}
nav ul li a{
    color: black;
    font-size: 30px;
}
nav ul li a:hover{
    color: rgb(45,152,66);
}
nav ul li a img {
    width: 120px;
    height: auto;
}

article{
    width: 100%;
    height: auto;
    display: flex;
}
footer{
    width: 100%;
    height: auto;
    background-image: url('/IMAGE/img-footer.png');
}
h4 > strong {
    color: rgb(45,152,66);
}
.menu, .drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.drop-menu{
    border: 1px solid rgb(45,152,66);
    ;
}
.menu-item {
    display: inline-block;
    position: relative;
}

.menu-item a {
    text-decoration: none;
    color: black;
    display: block;
}

.drop-menu {
    display: none;

    position: absolute;
    background-color: #fff;
    min-width: 242px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.drop-menu-item {
    width: 100%;
    text-align: start;

}
.drop-menu-item a {
    padding: 5px 0px;
    font-size: 17px;
    border-bottom: 1px solid  rgb(45,152,66);
    ;

}
.drop-menu .drop-menu-item:last-child a{
    border-bottom: none;
}
.drop-menu-item:hover {
    background-color: #b6b6b61b;
}

.drop-menu-item a {
    color: #555;
}

.menu-item:hover .drop-menu {
    display: block;
}
.container_tintuc h1{
    font-size: 40px;
    color: rgb(45,152,66);
    padding: 20px 0px ;
}
/* ////////////////////////////// header ////////////////////////////////// */
/* ////////////////////////////// article ////////////////////////////////// */

body{
    font-size: 16px;
}
a{
    text-decoration: none;
}
.container_tintuc h4{
    padding: 20px 0px;
}
.container_tintuc{
    padding: 0px 150px;
}
.tintuc{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.box_tintuc{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    box-shadow: 0px 0px 5px 1px rgb(182, 182, 182);
}
.box_tintuc:hover{
    box-shadow: 0px 0px 10px 2px gray;
    transition: 0.5s;
}
.box_tintuc:hover:hover a.buy{
    opacity: 1;
    transition: 0.5s;
}
.box_tintuc img:hover{
    filter: blur(1px);
}
.box_tintuc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image_tintuc{
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
}
a.buy{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-weight: bold;
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 20px 0px;
    opacity: 0;
}
.content_tintuc{
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 20px;
}
.content_tintuc span{
    display: block;
}
span.tieude{
    font-size: 20px;
}
span.tieude a{
    color: #5ba503;
    text-decoration: none;
}
/* ========================================== */
footer{
    padding: 20px 20px 10px 20px;
    background-color: #1c1c20;
    display: flex;
    flex-direction: column;
}
.all_col{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 10px;
    border-bottom: 2px solid white;
    padding: 0px 0px 10px 0px;
}
.all_col > ul{
    grid-column: 1fr 1fr 1fr 1fr;
    color: white;
}
.all_col ul{
    list-style: none;
}
.all_col ul a{
    color: rgb(136, 136, 136);
    text-decoration: none;
    display: block;
    padding: 5px 0px;
}
.all_col ul a:hover{
    color: white;
}
.name_col{
    font-weight: bold;
}
.copyright{
    text-align: center;
    padding: 10px 0px 0px 0px;
    color: white;
}